
.footer-Bar {
  width: 100%;
  padding-top: auto;
  background-color: var(--secondry-color);
  position: fixed;
  bottom: 0 !important;
  margin-top:auto;
  height: 5rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px ;
  max-width: 100vw;
}
.footer-icons {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 10px;
}
.footer-text {
  padding-top: 0.75rem;
  font-size: 0.75rem;
}
.text-line{
  color: var(--primary-color)
}
@media screen and (max-width: 480px) {
  .footer-Bar{
      display: none;
  }
}