.addTodo {
    margin: auto;
    width: 60vw;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.addTodo:focus {
    border: none;
}
.addTodo>label {
    font-size: 1.5rem;
    color: #0b132b;
}
.addTodo>Input {
    width: 50vw;
    height: 30px;
    margin: 0 10px;
    padding-left: 10px;
    background: rgba(200, 200, 200, 0.3);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #808080;
  
}
.addTodo> button {
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #d3d5d4;
    background-color: #994636;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTodo> button:hover {
    background-color: #d3d5d4;
    color:#994636
}
@media screen and (max-width: 480px) {
    .addTodo {
        flex-direction: column;
        padding: 5px;
    }
    .addTodo>label, .addTodo>input, .addTodo>button {
        margin-bottom: 15px;
    }
    .addTodo>input {
        width: 90vw;
        height: 40px;
    }
}