
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins&family=Raleway&family=Ubuntu&display=swap');

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
   
}

:root{
    --primary-color:#d3d5d4;
    --secondry-color:#061626 ;
    --hover-color: #40798c;
    --background-color:'';
    
}
@media only screen and (max-width: 480px) {

    *{
        box-sizing: border-box;
    }
    
}