.navbar {
    background-color: #3d5f7f;
    height: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu-bars {
    margin-left: 2rem ;
    font-size: 2rem;
    background: none;
    color: #d3d5d4;
    transition: 350ms;
}
.menu-bars:hover{
    color: #40798c;
    transition: 350ms;
}

.nav-menu {
    background-color: #3d5f7f;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 25px;
    left: -100%;
    transition: 850ms;
    z-index: 99;
}
.nav-menu.active {
    left: 0;
    transition: 350ms;
}
.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 8px 16px;
    list-style: none;
    height: auto;
}
.nav-text a {
    color: #d3d5d4;
    text-decoration: none;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #40798c;
}
.iconClass{
    font-size: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sub-nav-text {
    font-size: 12px;
    padding: 0 16px;
}
.nav-menu-items {
    width: 100%;
}
.navbar-toggle {
    background-color: #3d5f7f;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    margin-left: 16px;
}